

.center-text {
    text-align: center;
    vertical-align: middle;
}

/* Fondo negro que cubre la pantalla */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté en la parte superior */
}


.simple {
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
}

.form {
    background-color: white;
    z-index: 1000;
    position: absolute;
    top: 50px;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;

    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    padding: 60px 0px;
    width: 500px;
    
    box-shadow: 10px 10px 5px rgba(8, 9, 36, 0.53);
}

.label_text{
    margin: 0px;
    padding: 0px;
}

.simple_button {
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: rgb(225, 225, 238);
    border-radius: 15px;
    transition: background-color 0.1s ease-in;
}

.simple_button:hover {
    background-color: rgba(0, 0, 0, 0.601);
    border-radius: 15px;
    cursor: pointer;

}

.simple_button_2 {
    text-align: center;
    width: 200px;
    padding: 12px 20px;
    margin: 0px 100px;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: rgb(225, 225, 238);
    border-radius: 15px;
    transition: background-color 0.1s ease-in;
}

.simple_button_2:hover {
    color: white;
    background-color: rgb(0, 124, 225);
    border-radius: 15px;
    cursor: pointer;

}